* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    color-scheme: light dark;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a20606;
    padding: 2rem;
    border: solid black 5px;
}

.logo {
    width: 75px;
    border-radius: 100%;
}
.titulo {
    margin: 1rem;
    text-decoration: none;
    color: #fafafa;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 2.4rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: larger;
}
.nav-link:hover {
    background-color: aliceblue;
    color: #a20606;
}


.nav-link.active {
    font-weight: bold;
    background-color: white;
    color:#a20606 ;
    border-radius: 1%;
    text-transform: uppercase;

}
.carrito {
    font-size: 25px;
    background-color: black;
    border-radius: 25%;
}
.div-container {
    max-width: 1000px;
    margin: auto;
    padding: 3.5rem;
    display: flex;
    gap: 0.5rem; 
    
}
.div-product { 
    padding: 1.5rem;
     width: 500px;
    height: 450px; 
    margin: 5px;
    border: 2px solid black;
    color: black;
    background-color:#a78c2a;
    font-size: 15px;
    font-weight: 15px;
    text-transform: uppercase;
    text-align: center;
}
.img-cards{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}
.detalles {
    background-color: black;
    color: #a20606;
    margin-top: 2rem;
}
.footer{
    text-align: center;
    color: red;
}
.text {
    text-align: center;
    padding: 3rem;
}